<div class="container m-4 p-3">
    <div class="row">
        <div class="col-12">
            <h2 class= "text-secondary text-weight-bold p-4">Nossos Professores</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <ul class="list-group">
        <li class="list-group-item">Professor Lucas Camargo - (Bacharel em Ciência da Computaçao pela Faculdade de Ciências Computacionais de SP/Mestrado em Computação pela PUC)</li>
        <li class="list-group-item">Professora Amanda Paes- (Bacharel em Administração pela Universidade Federal de SP/Pós Em Administração pela FECAP)</li>
        <li class="list-group-item">Professor Pedro Ricardo - (Bacharel em Ciência da Computação pela Faculdade de Ciências Computacionais de SP/MBA em Gestão de Negócios pela FGV)</li>
        <li class="list-group-item">Professora Márcia de Almeida - (Bacharel em Marketing pela USP/Mestrado em Computação pela USP)</li>
        <li class="list-group-item">Professora Vivian Diaz - (Bacharel em Sistemas de Informação pela USJT/Doutorado em Computação pela PUC)</li>
    </ul>
        </div>
    </div>

</div>