<div class="container m-4 p-3">
    <div class="row">
        <div class="col-12">
            <h2 class= "text-secondary text-weight-bold p-4">Nossos Cursos</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
        <ul class="list-group">
        <li class="list-group-item"> <b>Desenvolvimento Web</b> - Curso da área de computação que abordará linguagens de programação como Javascript e Phyton, o framework Bootstrap e AngularJS. </li>
        <li class="list-group-item"> <b>Desing Thinking</b> - Curso da área de administração que vai te ensinar a liderar projetos usando a metodologia Desing Thinking de um jeito inovador e ágil</li>
        <li class="list-group-item"> <b>DevOps</b> - Curso da área de computação que aborda temas e ferramentas usada por empresas como Amazon e Google</li>
        <li class="list-group-item"> <b>AutoCad</b> - Curso da área de Desing para te auxiliar em seus desenhos feitos no computador</li>
        <li class="list-group-item"> <b>Framework Scrum</b> - Curso da área de administração que te dará a base da metodologia de projetos ágeis mais utilizada atualmente.</li>
    </ul>
        </div>
    </div>

</div>